@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');

body{
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(3,130,168,1) 0%, rgba(17,66,94,1) 100%);
  
}

.container{
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  padding: 20px 50px;
  background-color: #f2f2f2;
  margin: auto;
  margin-top: 10%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.61);
  position: relative;
}

.container:after{
  content: "";
  position: absolute;
  border: solid;
  border-width: 30px;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #f2f2f2;
  right: 100%;
  top: 50%;
  margin-top: -30px;
}

#header{
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

h1{
  font-family: 'Indie Flower', cursive;
}

i{
  font-size: 100px;
}

#iconDiv{
  margin: 40px;
}

#temp{
  cursor: pointer;
  color: blue;
}